@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #222222;
  --background: #ffe2eb;
  --foreground: #f4f4f4;
}

@layer base {
  body {
    @apply text-secondary bg-primary font-geologica;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-prosto;
  }
}

@layer components {
  .paragraph-1 {
    @apply text-[#222222] font-geologica text-base leading-6;
  }

  .heading-1 {
    @apply text-[#222222] font-prosto text-[72px] leading-[82px] uppercase;
  }

  .button-1 {
    @apply inline-flex;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--secondary);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-prosto {
    font-family: var(--font-prosto-one), system-ui, sans-serif;
  }

  .font-geologica {
    font-family: var(--font-geologica), system-ui, sans-serif;
  }
}
