@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-secondary bg-primary font-poppins;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfair;
  }
}

@layer components {
  .paragraph-1 {
    @apply text-[#222222] font-poppins text-base leading-6;
  }

  .heading-1 {
    @apply text-[#222222] font-playfair text-[72px] leading-[82px] uppercase font-bold;
  }

  .button-1 {
    @apply inline-flex;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--secondary);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-playfair {
    font-family: var(--font-playfair-display), serif;
  }

  .font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }
}
